{% extends "app/layout.html" %}
{% load static %}
{% block content %}
<div class="container">
        <div class="row">
            {% if products_in_basket %}
                <div class="col-lg-8 col-lg-offset-2">
                    <h3 class="text-center">История заказов</h3>
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th>Название товара</th>
                                    <th>Количество</th>
                                    <th>Цена за еденицу</th>
                                    <th>Общая цена</th>
                                    <th>Дата создания</th> 
                                </tr>
                            </thead>
                            <tbody>
                                {% for product_in_basket in products_in_basket %}
                                    <tr>
                                        <td>
                                             {{ product_in_basket.product.name }}
                                        </td>
                                        <td>
                                             {{ product_in_basket.nmb }}
                                        </td>
                                        <td>
                                            <span class="product-price">
                                                {{ product_in_basket.price_per_item}}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="total-product-in-basket-amount">
                                                {{ product_in_basket.total_price }}
                                            </span>
                                        </td>
                                        <td>
                                             {{ product_in_basket.product.created }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="text-right">
                            <b>Сумма заказа: </b> <span id="total_order_amount"></span>
                        </div>

                </div>
             {% else %}
                <h1 class="text-center">У вас нет заказов</h1>
            {% endif %}

        </div>
    </div>
{% endblock %}